.map-container.pure-style {
  --padding: 3rem;
  --thick-border: 5px;
  --small-border: 1px;

  padding: 0;

  .user-text-wrapper {
    /* Need to add px to bottom/width because if scaling not round, line appear on print */
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, .001) 1%, var(--color-bg) 50%);
    bottom: 0;
    height: 35%;
    padding-top: 20%;
    text-align: center;
    width: 100%;
    z-index: 998;

    h1 {
      font-family: 'sublima-bold', sans-serif;
      font-size: 3.2em;
      font-weight: 100;
      letter-spacing: .1em;
      text-indent: 0.2em;
      text-transform: uppercase;
    }

    h2 {
      align-items: center;
      display: flex;
      font-family: 'louis-george-cafe', sans-serif;
      font-size: 1.7em;
      font-weight: 400;
      justify-content: center;
      letter-spacing: .5em;
      line-height: 1.4;
      margin: 1em 0;
      text-indent: 0.5em;
      text-transform: uppercase;

      span.subtitle {
        padding: 0 1em;
      }     
    }

    p {
      color: var(--color-txt-alt);
      font-family: 'louis-george-cafe-light', sans-serif;
      font-size: 1.3em;
      font-weight: 300;
      letter-spacing: .1em;
      text-indent: 0.1em;
      text-transform: uppercase;
    }
  }

  &.txt-reverse {
    .user-text-wrapper {
      bottom: inherit;
      top: 0;
      background: linear-gradient(var(--color-bg) 50%, rgba(255, 255, 255, .001) 100%);
      display: flex;
      flex-direction: column-reverse;
      padding-top: 0;
      padding-bottom: 20%;
    }
  }

  &.horizontal {
    .user-text-wrapper {
      height: 50%;
      padding-top: 15%;
    }
  }
}
