.map-container.window-style {
  --padding: 3rem;
  --thick-border: 3px;
  --small-border: 1px;

  flex-direction: column;
  
  .map {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    height: auto;
  }

  .user-text-wrapper {     
    /* Need to ad px to top/width because if scaling not round, line appear on print */
    background: var(--color-bg);
    bottom: calc(var(--padding) - 2px);
    margin-top: 5em;
    width: calc(100% - (var(--padding) * 2) + 2px);
    text-align: center;
    z-index: 998;

    h1 {
      font-family: 'sublima-bold', sans-serif;
      font-size: 3em;
      font-weight: 100;
      letter-spacing: .1em;
      text-indent: 0.2em;
      text-shadow: 0 0 .5rem var(--color-bg);
      text-transform: uppercase;
    }

    h2 {
      font-family: 'louis-george-cafe', sans-serif;
      font-size: 1.6em;
      font-weight: 400;
      letter-spacing: .5em;
      line-height: 1.4;
      text-indent: 0.5em;
      text-shadow: 0 0 .5rem var(--color-bg);
      text-transform: uppercase;
    }

    p {
      color: var(--color-txt-alt);
      font-family: 'louis-george-cafe-light', sans-serif;
      font-size: 1.2em;
      font-weight: 300;
      letter-spacing: .1em;
      margin-top: .5em;
      text-indent: 0.1em;
      text-transform: uppercase;
    }
  }    

  &.txt-reverse {
    flex-direction: column-reverse;

    .user-text-wrapper {
      margin-bottom: 5em;
      margin-top: 0;
      top: calc(var(--padding) - 2px);

      h1, h2 {
        padding-top: 0;
      }
    }
  }

  .leaflet-top {
    bottom: 50%;
    top: inherit;
    transform: translateY(50%);
  }
}
