@font-face {
  font-display: fallback;
  font-family: 'proxima-nova-bold';
  src: url('../../assets/font/proxima-nova-bold.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'proxima-nova-semi-bold';
  src: url('../../assets/font/proxima-nova-semi-bold.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'proxima-nova';
  src: url('../../assets/font/proxima-nova-regular.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'proxima-nova-light';
  src: url('../../assets/font/proxima-nova-light.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'catamaran';
  src: url('../../assets/font/catamaran.woff') format('woff');
}
