@font-face {
  font-display: fallback;
  font-family: 'sublima-bold';
  src: url(../../assets/font/sublima-bold.woff) format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'louis-george-cafe';
  src: url(../../assets/font/louis-george-cafe.woff) format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'louis-george-cafe-light';
  src: url(../../assets/font/louis-george-cafe-light.woff) format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'catamaran';
  src: url(../../assets/font/catamaran.woff) format('woff');
}
