@media only screen and (max-width: 1150px) {
  body {
    overflow-x: hidden;
  }

  .app-wrapper {
    flex-direction: column-reverse;
    height: auto;
  }

  aside.editor-wrapper {
    height: inherit;
    position: inherit;
    width: 100%;
  }

  main {
    left: 0;
    margin: 5rem 0;
    position: inherit;
    width: 100%;

    .map-container {
      &.vertical {
        width: 300px;
      }

      &.horizontal {
        height: 300px;
      }

      .user-text-wrapper {
        font-size: 50%;
      }
    }
  }
}
