@import 'fonts';

:root {
  --green-border: #246400;
  --green-background: #9FE379;
  --red-border: #B70000;
  --red-background: #FF7878;
  --grey-border: #595959;
  --grey-background: #E8E8E8;

  --color-l-bg: #FFFFFE;
  --color-l-txt: #000001;
  --color-l-txt-alt: #999998;
  --color-d-bg: #000001;
  --color-d-txt: #FFFFFE;
  --color-d-txt-alt: #999998;
}

.light-theme {
  --color-bg: var(--color-l-bg);
  --color-txt: var(--color-l-txt);
  --color-txt-alt: var(--color-l-txt-alt);
}

.dark-theme {
  --color-bg: var(--color-d-bg);
  --color-txt: var(--color-d-txt);
  --color-txt-alt: var(--color-d-txt-alt);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  background-color: white;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
}

input[type="checkbox"].switch {
  appearance: none;
  cursor: pointer;
	height: calc(1.2rem + 2px);
	background-color: rgb(255, 107, 103);
  border: solid 1px rgb(127, 127, 127);
	border-radius: 3rem;
  margin: 0;
	position: relative;
	outline: none;
  user-select: none;
  width: 3rem;
	transition: all .3s ease-in-out;

  &::after {
    content: '';
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .9);
    height: 1.2rem;
    left: 0;
    position: absolute;
    transform: scale(.7);
    width: 1.2rem;
    transition: all .3s ease-in-out;
  }

  &:checked {
    background-color: rgb(86, 212, 91);
  }

  &:checked::after {
    left: calc(100% - 1.2rem);
  }
}

.app-wrapper {
  align-items: center;
  background: rgba(20, 20, 20, .1);
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: auto;
  position: relative;
  width: 100%;
}

aside.editor-wrapper {
  background-color: #333;
  box-shadow: .5rem 0px 2rem rgba(0, 0, 0, .3);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding: 2rem;
  position: absolute;
  top: 0;
  width: 30rem;

  h1 {
    margin-bottom: 1rem;

    &.title {
      text-align: center;
      font-size: 2.8rem;
      padding-bottom: 2rem;
      border-bottom: solid 1px white;
      margin-bottom: 2rem;
    }
  }

  .map-style, .map-orientation {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    justify-content: space-between;
    margin-bottom: 2rem;

    span {
      border: solid 1px white;
      border-radius: .5rem;      
      color: inherit;
      cursor: pointer;
      padding: .2rem .8rem;
      transition: all .2s;
    }

    .selected {
      border-color: #56d45b;
      color: #56d45b;
    }
  }

  .map-orientation {
    justify-content: left;

    span {
      margin: 0 .5rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .dark-theme-wrapper, .txt-position-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem;

    div.theme-input-holder {
      display: flex;

      input {
        margin-right: 1rem;        
      }

      div {
        cursor: pointer;
        width: calc(1.2rem + 2px);
      }
    }
  }
  
  label {
    font-style: italic;
    margin-left: .5rem;
  }

  .input-with-color {
    align-items: center;
    display: flex;
    height: 3rem;
    margin: .2rem 0;
    margin-bottom: 1rem;    
    width: 100%;

    input[type="text"] {
      background-color: transparent;
      border: solid 1px;
      border-color: white;
      color: white;
      border-radius: .3rem;      
      height: 100%;
      margin-right: .5rem;
      padding-left: 1rem;
      width: inherit;
    }

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  .text-edit {
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: solid 1px;
    border-color: white;
    border-radius: .3rem;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
  }

  hr {
    border-top: transparent;    
    color: white;
    height: 1px;
    margin-bottom: 2rem;
  }

  fieldset {
    border: solid 1px;
    border-color: white;
    border-radius: .3rem;    
    margin: 2rem 0;
  }

  button {
    cursor: pointer;
    margin-bottom: auto;
  }

  /* Credit link */
  a {
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;

    transition: color .2s;

    &:active,
    &:focus,
    &:hover {
      color: #56d45b;
    }

    &:first-child {
      margin-top: 1rem;      
    }
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 30rem;
  position: absolute;
  top: 0;
  width: calc(100% - 30rem);

  .map-attribution {
    bottom: 0;
    font-size: 1.1rem;
    left: 50%;
    padding: 1rem 0 ;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: 100%;
  }
}

.map-container {
  align-items: center;
  aspect-ratio: 21 / 29.7;
  background-color: var(--color-bg);
  color: var(--color-txt);
  display: flex;
  justify-content: center;
  padding: var(--padding);
  position: relative;
  width: 600px;
  z-index: 10;

  transition: all .2s;

  &.shadow {
    box-shadow: .5rem .5rem 5rem rgba(0, 0, 0, .4);
  }

  /* Leaflet overrides to move controls and zoom position */
  &.txt-reverse .leaflet-top {
    bottom: 0;
    top: inherit;
    margin-bottom: 10px;
  }

  .map {
    height: 100%;
    width: 100%;
  }

  &.standard-style {
    --padding: 3rem;
    --thick-border: 5px;
    --small-border: 1px;

    &::before {
      content: ' ';
      position: absolute;
      z-index: 999;
      pointer-events: none;
      top: calc(var(--padding) - var(--thick-border));
      left: calc(var(--padding) - var(--thick-border));
      right: calc(var(--padding) - var(--thick-border));
      bottom: calc(var(--padding) - var(--thick-border));
      border: var(--small-border) solid var(--color-txt);
    }

    .map {
      border: solid var(--thick-border) var(--color-txt);
    }

    .user-text-wrapper {
      position: absolute;
      background: linear-gradient(transparent 1%, var(--color-bg) 50%);
      bottom: calc(var(--padding) + var(--thick-border));
      height: 35%;
      padding-top: 20%;
      text-align: center;
      width: calc(100% - (var(--padding) * 2) - (var(--thick-border) * 2));
      z-index: 998;
  
      h1 {
        font-family: 'proxima-nova-bold', sans-serif;
        font-size: 3.2em;
        font-weight: 700;
        letter-spacing: .2em;
        text-indent: 0.2em;
        text-transform: uppercase;
      }
  
      h3 {
        align-items: center;
        display: flex;
        font-family: 'proxima-nova', sans-serif;
        font-size: 1.7em;
        font-weight: 400;
        justify-content: center;
        letter-spacing: .5em;
        line-height: 1.4;
        margin: 1em 0;
        text-indent: 0.5em;
        text-transform: uppercase;
  
        span.before {
          display: inline-block;
          background-color: var(--color-txt);
          height: 0.14em;
          width: 3em;
        }
  
        span.subtitle {
          padding: 0 1em;
        }
  
        span.after {
          display: inline-block;
          background-color: var(--color-txt);
          height: 0.14em;
          width: 3em;
        }      
      }
  
      p {
        color: var(--color-txt-alt);
        font-family: 'proxima-nova-light', sans-serif;
        font-size: 1.3em;
        font-weight: 300;
        letter-spacing: .1em;
        text-indent: 0.1em;
        text-transform: uppercase;
      }
    }

    &.txt-reverse {
      .user-text-wrapper {
        bottom: inherit;
        top: calc(var(--padding) + var(--thick-border));
        background: linear-gradient(var(--color-bg) 50%, transparent 100%);
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
        padding-bottom: 20%;
      }
    }
  }

  &.travel-style {
    --padding: 3rem;
    --thick-border: 3px;
    --small-border: 1px;

    .user-text-wrapper {     
      /* Need to ad px to top/width because if scaling not round, line appear on print */
      position: absolute;
      background: var(--color-bg);
      bottom: calc(var(--padding) - 2px);
      height: 14%;
      width: calc(100% - (var(--padding) * 2) + 2px);
      z-index: 998;
  
      h1 {
        display: inline-block;
        font-family: 'proxima-nova-bold', sans-serif;
        font-size: 3.2em;
        font-weight: 700;
        padding: calc(var(--padding) / 2) 0;
        width: 70%;
      }
  
      h3 {
        display: block;
        float: right;
        font-family: 'proxima-nova', sans-serif;
        font-size: 1.7em;
        font-weight: 400;
        line-height: 1.4;
        padding-top: calc(var(--padding) / 2);
        text-align: right;
        text-transform: uppercase;
        width: 30%;
      }
  
      p {
        border-top: solid var(--thick-border) var(--color-txt);
        color: var(--color-txt-alt);      
        font-family: 'proxima-nova-light', sans-serif;
        font-size: 1.3em;
        font-weight: 300;
        letter-spacing: .1em;
        padding-top: calc(var(--padding) / 2);
        text-transform: uppercase;
      }
    }    

    &.txt-reverse {
      .user-text-wrapper {
        top: calc(var(--padding) - 2px);

        h1, h3 {
          padding-top: 0;
        }
      }
    }
  }

  &.frame-style {
    --padding: 1.5rem;
    --thick-border: 3px;
    --small-border: 1px;

    .user-text-wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      background: var(--color-bg);
      bottom: calc(2 * var(--padding));
      border-radius: .5em;
      height: auto;
      padding: var(--padding) calc(var(--padding) * 2);
      text-align: center;
      width: auto;
      z-index: 998;
  
      h1 {
        display: block;
        font-family: 'proxima-nova-bold', sans-serif;
        font-size: 2.3em;
        letter-spacing: .2em;
        line-height: 1;
        font-weight: 700;
      }
  
      h3 {
        display: block;
        font-family: 'proxima-nova', sans-serif;
        font-size: 1.4em;
        font-weight: 400;
        letter-spacing: .5em;
        line-height: 1.4;
        text-transform: uppercase;
      }
  
      p {
        color: var(--color-txt-alt);
        font-family: 'proxima-nova-light', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
    }
    
    &.txt-reverse {
      .user-text-wrapper {
        bottom: inherit;
        top: calc(2 * var(--padding));
      }
    } 
  }

  &.pure-style {
    --padding: 3rem;
    --thick-border: 5px;
    --small-border: 1px;

    padding: 0;

    .user-text-wrapper {
      /* Need to add px to bottom/width because if scaling not round, line appear on print */
      position: absolute;
      background: linear-gradient(transparent 1%, var(--color-bg) 50%);
      bottom: 0;
      height: 35%;
      padding-top: 20%;
      text-align: center;
      width: 100%;
      z-index: 998;
  
      h1 {
        font-family: 'proxima-nova-bold', sans-serif;
        font-size: 3.2em;
        font-weight: 700;
        letter-spacing: .2em;
        text-indent: 0.2em;
        text-transform: uppercase;
      }
  
      h3 {
        align-items: center;
        display: flex;
        font-family: 'proxima-nova', sans-serif;
        font-size: 1.7em;
        font-weight: 400;
        justify-content: center;
        letter-spacing: .5em;
        line-height: 1.4;
        margin: 1em 0;
        text-indent: 0.5em;
        text-transform: uppercase;
  
        span.subtitle {
          padding: 0 1em;
        }     
      }
  
      p {
        color: var(--color-txt-alt);
        font-family: 'proxima-nova-light', sans-serif;
        font-size: 1.3em;
        font-weight: 300;
        letter-spacing: .1em;
        text-indent: 0.1em;
        text-transform: uppercase;
      }
    }

    &.txt-reverse {
      .user-text-wrapper {
        bottom: inherit;
        top: 0;
        background: linear-gradient(var(--color-bg) 50%, transparent 100%);
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
        padding-bottom: 20%;
      }
    }
  }

  &.tone-style {
    --padding: 2rem;
    --thick-border: 5px;
    --small-border: 1px;

    .user-text-wrapper {
      align-items: flex-start;
      border-top: solid var(--thick-border) var(--color-txt);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      background: var(--color-bg);
      bottom: var(--padding);
      height: auto;
      padding-top: var(--padding);
      width: calc(100% - (var(--padding) * 2));
      z-index: 998;
  
      h1 {
        display: block;
        font-family: 'proxima-nova-bold', sans-serif;
        font-size: 2.2em;
        letter-spacing: .2em;
        line-height: 1;
        font-weight: 700;
      }
  
      h3 {
        display: block;
        font-family: 'proxima-nova', sans-serif;
        font-size: 1.3em;
        font-weight: 400;
        letter-spacing: .5em;
        line-height: 1.4;
        text-transform: uppercase;
      }
  
      p {
        color: var(--color-txt-alt);
        font-family: 'proxima-nova-light', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        letter-spacing: .1em;
        margin-top: .5em;
        text-transform: uppercase;
      }
    }

    &.txt-reverse {
      .user-text-wrapper {
        align-items: flex-end;
        bottom: inherit;
        border-bottom: solid var(--thick-border) var(--color-txt);
        border-top: none;
        flex-direction: column-reverse;
        top: var(--padding);
        padding-bottom: var(--padding);
        padding-top: 0;

        p {
          margin-top: 0;
          margin-bottom: .5em;
        }
      }
    }
  }

  &.map-style {
    --padding: 3rem;
    --thick-border: 5px;
    --small-border: 1px;

    padding: 0;

    .user-text-wrapper {
      position: absolute;
      bottom: 0;
      text-align: center;
      padding: var(--padding) 0;
      width: 100%;
      z-index: 998;
  
      h1 {
        font-family: 'proxima-nova-bold', sans-serif;
        font-size: 3em;
        font-weight: 700;
        letter-spacing: .2em;
        text-indent: 0.2em;
        text-shadow: 0 0 .5rem var(--color-bg);
        text-transform: uppercase;
      }
  
      h3 {
        font-family: 'proxima-nova', sans-serif;
        font-size: 1.6em;
        font-weight: 400;
        letter-spacing: .5em;
        line-height: 1.4;
        text-indent: 0.5em;
        text-shadow: 0 0 .5rem var(--color-bg);
        text-transform: uppercase;
      }
  
      p {
        color: var(--color-txt-alt);
        font-family: 'proxima-nova-light', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: .1em;
        margin-top: .5em;
        text-indent: 0.1em;
        text-transform: uppercase;
      }
    }

    &.txt-reverse {
      .user-text-wrapper {
        display: flex;
        flex-direction: column-reverse;
        top: 0;
        bottom: inherit;

        p {
          margin-bottom: .5em;
          margin-top: 0;          
        }
      }
    }
  }

  &.window-style {
    --padding: 3rem;
    --thick-border: 3px;
    --small-border: 1px;

    flex-direction: column;
    
    .map {
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      height: auto;
    }

    .user-text-wrapper {     
      /* Need to ad px to top/width because if scaling not round, line appear on print */
      background: var(--color-bg);
      bottom: calc(var(--padding) - 2px);
      margin-top: 5em;
      width: calc(100% - (var(--padding) * 2) + 2px);
      text-align: center;
      z-index: 998;
  
      h1 {
        font-family: 'proxima-nova-bold', sans-serif;
        font-size: 3em;
        font-weight: 700;
        letter-spacing: .2em;
        text-indent: 0.2em;
        text-shadow: 0 0 .5rem var(--color-bg);
        text-transform: uppercase;
      }
  
      h3 {
        font-family: 'proxima-nova', sans-serif;
        font-size: 1.6em;
        font-weight: 400;
        letter-spacing: .5em;
        line-height: 1.4;
        text-indent: 0.5em;
        text-shadow: 0 0 .5rem var(--color-bg);
        text-transform: uppercase;
      }
  
      p {
        color: var(--color-txt-alt);
        font-family: 'proxima-nova-light', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: .1em;
        margin-top: .5em;
        text-indent: 0.1em;
        text-transform: uppercase;
      }
    }    

    &.txt-reverse {
      flex-direction: column-reverse;

      .user-text-wrapper {
        margin-bottom: 5em;
        margin-top: 0;
        top: calc(var(--padding) - 2px);

        h1, h3 {
          padding-top: 0;
        }
      }
    }

    .leaflet-top {
      bottom: 50%;
      top: inherit;
      transform: translateY(50%);
    }
  }

  &.air-style {
    --padding: 1.5rem;
    --thick-border: 5px;
    --small-border: 1px;

    .user-text-wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      background: var(--color-bg);
      bottom: var(--padding);
      height: auto;
      padding-top: var(--padding);
      width: calc(100% - (var(--padding) * 2));
      z-index: 998;
  
      h1 {
        display: block;
        font-family: 'proxima-nova-bold', sans-serif;
        font-size: 2.2em;
        letter-spacing: .2em;
        line-height: 1;
        font-weight: 700;
      }
  
      h3 {
        display: block;
        font-family: 'proxima-nova', sans-serif;
        font-size: 1.3em;
        font-weight: 400;
        letter-spacing: .5em;
        line-height: 1.4;
        text-transform: uppercase;
      }
  
      p {
        color: var(--color-txt-alt);
        font-family: 'proxima-nova-light', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        letter-spacing: .1em;
        margin-top: 1em;
        text-transform: uppercase;
      }
    }
    
    &.txt-reverse {
      .user-text-wrapper {
        flex-direction: column-reverse;
        bottom: inherit;
        top: var(--padding);
        padding-bottom: var(--padding);
        padding-top: 0;

        p {
          margin-bottom: 1em;
          margin-top: 0;          
        }
      }
    }
  }

  &.hipster-style {
    --padding: 1rem;
    --thick-border: 3px;
    --small-border: 1px;

    padding: var(--padding);
    padding-bottom: calc(var(--padding) * 6);

    .user-text-wrapper {
      align-items: center;
      border: solid var(--thick-border) var(--color-txt);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      background: var(--color-bg);
      bottom: calc(var(--padding) * 6);
      border-radius: .5em;
      height: auto;
      padding: var(--padding) calc(var(--padding) * 2);
      text-align: center;
      width: auto;
      z-index: 998;
      transform: translateY(50%);
  
      h1 {
        display: block;
        font-family: 'proxima-nova-bold', sans-serif;
        font-size: 2.3em;
        letter-spacing: .2em;
        line-height: 1;
        font-weight: 700;
      }
  
      h3 {
        display: block;
        font-family: 'proxima-nova', sans-serif;
        font-size: 1.4em;
        font-weight: 400;
        letter-spacing: .5em;
        line-height: 1.4;
        text-transform: uppercase;
      }
  
      p {
        color: var(--color-txt-alt);
        font-family: 'proxima-nova-light', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
    }
    
    &.txt-reverse {
      padding: var(--padding);
      padding-top: calc(var(--padding) * 6);

      .user-text-wrapper {
        bottom: inherit;
        top: calc(var(--padding) * 6);
        transform: translateY(-50%);
      }
    } 
  }

  &.horizontal {
    aspect-ratio: 29.7 / 21;
    height: 600px;
    width: auto;

    &.standard-style .user-text-wrapper, &.pure-style .user-text-wrapper {
      height: 50%;
      padding-top: 15%;
    }

    &.travel-style .user-text-wrapper {
      height: 20%;
    }
  }
}

/* Modal */
.modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: opacity .2s;

  [class$="-modal"] {
		background: rgba(255, 255, 255, .9);
		border-radius: .5rem;
		box-shadow: 0px 0px 10px #424242;
		padding: 3rem 4rem;
		position: relative;
		text-align: center;

		h1 {
			margin-bottom: 3rem;
		}

		button {
			margin-top: 3rem;
		}

		.modal-close {
			color: #999;
			cursor: pointer;
			font-size: 2.2rem;
			font-weight: bold;
			line-height: 1.4rem; /* Because the cross symbol doesn't fit font height */
			right: 1rem;
			position: absolute;
			top: 1rem;
		}

    .applied-color {
      aspect-ratio: 1 / 1;
      background-color: black;
      cursor: pointer;
      height: 2rem;
      padding: .2rem;
      width: 2rem;
    }

		.button-wrapper {
			align-items: center;
			display: flex;
			justify-content: center;

			button {
				margin-left: 1rem;
				margin-right: 1rem;
			}
		}
	}

  .credit-modal {
    max-width: 90%;
    width: 45rem;

    p {
      padding-bottom: 1rem;
      text-align: justify;
      text-indent: 2rem;
    }

    a {
      cursor: pointer;
      color: #56d45b;
      text-align: center;
      text-decoration: none;
  
      transition: color .2s;
  
      &:active,
      &:focus,
      &:hover {
        color: #FF7878;
      }
    }
  }
  
  .theme-edit-modal .theme-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h2 {
      font-style: italic;
      padding-bottom: 1rem;
    }

    .light-theme-container {
      border-right: solid 1px rgba(0, 0, 0, .3);
    }

    .light-theme-container, .dark-theme-container {
      padding: 0 2rem;
    }

    .item {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;

      label {
        margin-right: 1rem;
      }
    }
  }
}

/* Loading overlay when printing */
.print-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  transition: opacity .2s;

  h1, p {
    margin-bottom: 1rem;
  }
  
  .progress {
    background-color: #56d45b;
    bottom: 0;
    height: 5px;
    position: absolute;
    left: 0;
    width: 0;

    transition: width .1s;
  }
}

/* Avoid lines between tiles during export */
.leaflet-tile[style*="width: 256px"] {
  width: 257px !important;
  height: 257px !important;
}

.leaflet-tile[style*="width: 512px"] {
  width: 513px !important;
  height: 513px !important;
}
/* Put scrollbar in layer menu for smoother navigation */
.leaflet-control-layers-expanded {
  max-height: 28rem;
  overflow-y: auto;
  width: 16rem;
}

@import 'responsive';
